{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>

    <title>{% block title %}HappyTravels Bookings{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fc8fa5d1b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'media/favicon/site.webmanifest' } ">
    {% block postload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" 
        integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  
    {% endblock %}

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}"><span class="brand"><img class="img-fluid" 
                src="{% static 'media/HappyLogo.webp' %}" alt="company logo with a smiley face"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'form' %}">Make an appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'PostList' %}">Manage appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'form' %}">Make an appointment</a>
                    </li>
            

                    {% endif %}
                </ul>
                <span class="navbar-text text-muted">
                    Find your Happy place
                </span>
            </div>
        </div>
    </nav>
    <div>
        {% block header %}
        {% endblock %}
    </div>

    {% if messages %}
    <!-- messages -->
    <div class="toasts">
        {% for message in messages %}
            {% if message.tags == 'success'%}
                {% include 'includes/toasts/toasts.html' %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-black">Made by HappyTravels</p>
        <p class="m-0 text-center text-black">Follow us: 
            <a href="https://www.facebook.com/jobsandtravel/" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #046ddc;"></i></a> 
            <a href="https://www.instagram.com/happytravelsoz/?hl=en" target="_blank"><i class="fa-brands fa-instagram" ></i></a>
            <a href="https://www.youtube.com/c/HappyTravelsOz/videos" target="_blank"><i class="fa-brands fa-youtube"></i></a>  
    </footer>

    {% block extra_js %}
    <script>

    </script>
    {% endblock %}

</body>

</html>