{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block header %}
<section class="hero-image">
    <div id="contrast"></div>
    <div class="overlay">
        <div id="background">
        <h1 class="hero-text">Get in contact </h1>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        Insert GoogleMaps here
    </div>
    <div class="col-6">
        <h1>Contact Us</h1>
        <table class="contactbox" class="borderless">
            <tr class="contactbox">
                <td><i class="fa-solid fa-phone"></i></td>
                <td><p>+61 4 123 456</p></td>
            </tr>
            <tr class="contactbox">
                <td id="help"><i class="fa-solid fa-envelope"></i></td>
                <td><p>admin@happytravels.com</p></td>
            </tr>
            <tr class="contactbox">
                <td> <i class="fa-solid fa-location-dot"></i></td>
                <td> 
                    <p>60 Darlinghurst road, </br>
                    Potts Point,</br>
                    Sydney,</br>
                    NSW 2011
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}