{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block header %}
<div class="text-center bg-image rounded-3" style=" height: 200px;">
    <img src="../static/media/whitehaven.webp" alt="beautiful beach and ocean" max-width="auto" height="50%">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Get in Contact</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        Insert GoogleMaps here
    </div>
    <div class="col-6">
        <h1>Contact Us</h1>
        <table id="contacttable" class="borderless">
            <tr>
                <td><i class="fa-solid fa-phone"></i></td>
                <td><p>+61 4 123 456</p></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-envelope"></i></td>
                <td><p>admin@happytravels.com</p></td>
            </tr>
            <tr>
                <td> <i class="fa-solid fa-location-dot"></i></td>
                <td> 
                    <p>60 Darlinghurst road, </br>
                    Potts Point,</br>
                    Sydney,</br>
                    NSW 2011
                    </p>
                </td>
            </tr>
       

        </table>
    </div>
</div>


{% endblock %}