{% extends 'base.html'%}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock %}

{% block title %}
Make a booking
{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

{% if saved %}
<div class="alert alert-success" role="alert">
    Your appointment has been saved succesfully
</div>
{% else %}
    <div class="container">
        <h1>Create your appointment</h1>
    </div>

    {% if user.is_authenticated %}
    <div class="container p-5 border">
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    {% else %}
        <h2>Please <a href="{% url 'account_login' %}">log in</a> to create an appointment </h2>
    {% endif %}
        
{% endif %}

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}