{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1>Welcome to Happy Travels – Your Gateway to Australian Adventure!</h1>

<div class="container"></div>
     <p>Embark on the journey of a lifetime with Happy Travels, your premier partner in exploring
          the breathtaking wonders of Australia's East Coast.</p>
</div>
     
<div class="container">
     <p> With a passion for crafting unforgettable experiences and a deep love for the region, 
     Happy Travels is your trusted guide to discovering the hidden gems, iconic landmarks,
          and vibrant culture that make East Coast Australia a true traveler's paradise.</p>
</div>

<div class="container">
     <p> Our meticulously designed tour packages offer a seamless blend of adventure, relaxation,
          and cultural immersion.</p>
</div>

<div class="container">    
     <p> Whether you're a solo explorer, a couple seeking romance, a family 
          looking for fun, or a group of friends eager for excitement, Happy Travels has the perfect 
          itinerary to cater to your preferences and interests.</p>
</div>

<div class="container">    
     <h2>Set up an appointment with one of our travel sales specialists now</h2>
</div>
{% endblock %}