{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Appointments display -->
        <div class="col-12 mt-3 left">
            <h1>Test this code</h1>
            <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="#" class="post-link">
                                <h2 class="card-title"> {{ post.name }} </h2>
                                    <!-- Change this h2 to appointment number -->
                                <p class="card-text">
                                    {{ post.id }}. </br>
                                    {{ post.name }} </br>
                                    {{ post.phone }} </br>
                                    {{ post.email }} </br>
                                    {{ post.time }} </br>
                                    {{ post.date }} </br>
                                </p>
                            </a>
                            <div class="card-footer">
                                <a href="{% url 'edit' slug=post.slug %}">
                                    <button>Change Appointment</button>
                                </a>
                                <a href="{% url 'delete' slug=post.slug %}">
                                    <button>Delete Appointment</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row"></div>
            <!-- Do I need to add pagination to this section?
                'Creating our first view' 4:40-->
            {% endif %}
            {% endfor %}
        </div>

{% endblock %}