@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Montserrat:wght@600&family=Poppins:ital,wght@1,200&display=swap');

/* Code for the headings and body text */

h1{
    font-family: Caveat;
}

body{
    font-family: 'Montserrat';
}

/* Code for the images on the index page */
.indeximage {
    height: 60vh;
    width: auto;
    border-radius: 40% 40%;
}

/* Text on index.html page */
.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}


/* coding for hero image on contact us page */
.hero-image {
    display: flex;
    align-items: flex-end;
    height: 80vh;
    width: 100vw;
    position:relative;
    border-radius: 3%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../media/whitehaven.webp');
    z-index: index;
}

.overlay {
    position:absolute;
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0); 
    color: white;
    text-shadow: 2px 2px 3px rgba(100,100,100,100);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    font-family: 'Unbounded';
    z-index: index 2;;
}

iframe {
    margin-left: 10px;
}

/* code for mobile first design */

@media only screen and (max-width: 768px) {

.indeximage {
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}

#slogan {
    display: flex;
    align-items: center;
}

.text-box {
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.hideme {
    display: none;
}

#apptlink {
    background-color: rgb(255, 168, 47);
    border-radius: 10%;
}

.contactdiv{
    display:flex;
    flex-direction: column;
}
}


/* code for tablets */
@media only screen and (min-width: 889px) {

.contactdiv{
    display:flex;
    flex-direction: column;
}

iframe {
    margin-left: 10vw;
}
}



/* Code for desktop */
@media only screen and (min-width: 990px) {

.indeximage {
    height: auto;
    width: 55vw;
}

#apptlink {
    background-color: rgb(255, 168, 47);
    border-radius: 10%;
    margin-top: 20px;
}

.contactdiv{
    display:flex;
    flex-direction: row;
}

}




