{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
        {% for post in post_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h4 class="lead"><a class="text-dark" href="{% url booking:single post.pk %}">Testing</a></h4>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group"></div>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary" role="button"></a>
                            <!-- <a href="{% url 'booking:edit' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button"></a>
                            <a href="{% url 'booking:delete' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button"></a> -->
                        </div> 
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>